@import "productos";
@import "wikidog";
@import "finalizarCompra";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navYLogo{
    display: flex;
    justify-content: space-between;
    height: auto;
    position: sticky;
    .logo {
        width: 8rem;
        height: auto;
        filter: grayscale(90%);
        transition: all 0.6s;
        &:hover {
            filter: none;
            transform: scale(1.1);
        }
    }
    .menu__navegacion {
        height: 2rem;
        ul {
            display: flex;
            justify-content: flex-end;
            li {
                list-style: none;
                margin: 3rem 1rem;
                a {
                    text-decoration: none;
                    font-size: 1.3rem;
                    color: #048600;
                    transition: all 0.7s;
                    &:hover{
                        padding: 8px;
                        border-radius: 2px;
                        color: #048600;
                        font-size:1.5rem ;
                    }
                }
            }
        }
    }
}
.imagen__Header {
    background: url(../images/FullHD.jpg) no-repeat top ;
    background-size: 100% 100%;
    width: auto;
    height: 100vh;
}
footer{
    background-image: linear-gradient(#048600,#042A00);
    display: flex;
    iframe{
        margin: 1rem;
    }
    .redes_Sociales{
        display: flex;
        align-self: flex-end;
        flex-direction: column;
        a{
            text-decoration: none;
            color: black;
            font-size: 1.3rem;
        }
    }
}